
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,500;1,500&display=swap');


*{
    margin: 0px;
    padding: 0px;
    
}

body{
    /* min-height: 100vh; */
    box-sizing: border-box;
    background-color: #040722;
    color: #EDEDEE;
   
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

 .cabecalho__menu { /*usa-se o flexbox, dentro do elemento pai */ 
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 400;
    color: #fc06e7;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
} 

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao_conteudo__titulo{
    font-size: 36px;
    font-family: "Open Sans", serif;
}

.titulo_destaque{
    color: #fc06e7;
}

.apresentacao_conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.apresentacao_conteudo__rodape{
    font-size: 17px;
    font-family: "Montserrat", serif;
    color: #EDEDEE;
}

.apresentacao__redes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.apresentacao__redes__subtitulo{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-size: 20px;
}

.apresentacao__redes__link{
    /* background-color: #EDEDEE; */
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 2px solid #fc06e7;
    width:231px;
    text-align: center;
    border-radius: 8px;
    font-size: 20px;
    padding: 15px 0;
    text-decoration: none;
    color: #EDEDEE;
    font-family: "Roboto", serif;
}

.apresentacao__redes__link:hover{
    background-color: #0a114e;
}


.foto {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 25%;
    margin: 0 10% 15% 0;
       
}

.rodape{
   padding: 24px;
   color: #EDEDEE;
   background-color: #0a114e; 
   text-align: center;
   font-family: "Montserrat", serif;
   font-size: 20px;
   font-weight: 400;
}